<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlipScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D64400641D4FB3BC003063ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D644007C1D4FB3BC003063ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D64400871D4FB3BC003063ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
